
.selected {
    opacity: 1;
    transform: scale(1.1);
    transition: all ease-in-out 0.5s;
    padding: 8px;
}

.fade-out {
    opacity: 0.3;
    transition: all ease-in-out 0.5s;
    padding: 8px;
}

.previous-arrow-container, .next-arrow-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.previous-arrow-container {
    left: 100px;
    
}

.next-arrow-container {
    right: 100px;
}


.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(50%);
    
}

.carousel-content {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

